<header>
  <h1><a href="/">Welcome!</a></h1>
  <nav class="main-nav">
    <button id="navBtn" class="nav-btn">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50">
          <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"></path>
        </svg>
    </button>
    <ul id="navList" class="navlist">
      <li class="navlist-item <%= locals.homePage ? 'active' : '' %>">
        <a href="/">Mario Kart !!</a>
      </li>
      
      <li class="navlist-item <%= locals.charactersListPage ? 'active' : '' %>">
        <a href="/characters">List of characters</a>
      </li>
      <li class="navlist-item <%= locals.randomCharacterDetailPage ? 'active' : '' %>">
        <a href="/random-character">Random character</a>
      </li>
      <li class="navlist-item <%= locals.searchCharacterPage ? 'active' : '' %>">
        <a href="/search">Search character</a>
      </li>
    </ul>
  </nav>
</header>
<%- include('breadcrumb') %>