<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %>

<body>
  <%- include('partials/header') %>
  <main>
    <h2><%- character.name %></h2>
    <div class="charsheet">
      <div class="charsheet-head">
        <div class="charsheet-img">
          <img src="<%= character.picture %>" alt="picture of <%- character.name %>">
        </div>
        <div class="charsheet-head-title">
          <h3>Name: <%- character.name %></h3>
          <p>Category: <%- character.category %></p>
        </div>
      </div>
      <%- include('partials/charSheetBody', {character: character})  %>
    </div>
  </main>
</body>

</html>