<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')  %>

<body>
  <%- include('partials/header') %>
  <main>
    <h2><%- character.name %></h2>
    <div class="charsheet">
      <div class="charsheet-head">
        <div class="charsheet-img">
          <img src="<%= character.picture %>" alt="picture of <%- character.name %>">
        </div>
        <div class="charsheet-head-title">
          <h3>Name: <%- character.name %></h3>
          <p>Category: <%- character.category %></p>
        </div>
      </div>
      <div class="charsheet-body">
        <div class="charsheet-body-left">
          <div class="info-bloc">
            <span class="info-bloc-key">Speed:</span>
            <span class="info-bloc-value"><%= character.speed %></span>
          </div>
          <div class="info-bloc">
            <span class="info-bloc-key">Acceleration:</span>
            <span class="info-bloc-value"><%- character.acceleration %></span>
          </div>
          <div class="info-bloc">
            <span class="info-bloc-key">Weight:</span>
            <span class="info-bloc-value"><%- character.weight %></span>
          </div>
        </div>
        <div class="charsheet-body-right">
          <div class="info-bloc">
            <span class="info-bloc-key">Maniability:</span>
            <span class="info-bloc-value"><%- character.maniability %></span>
          </div>
          <div class="info-bloc">
            <span class="info-bloc-key">Grip:</span>
            <span class="info-bloc-value"><%- character.grip %></span>
          </div>
          <div class="info-bloc">
            <span class="info-bloc-key">Mini-turbo:</span>
            <span class="info-bloc-value"><%- character.miniturbo %></span>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>